.resume-dl{
  display: flex;
  justify-content: center;
  padding: .5rem 0;
}

.resume h3{
  padding-bottom: 0.5rem;
}

.resume-background{
  padding: 1.5rem;
}

.resume-background h3{
  text-decoration: underline;
  margin: 0;
}

.resume-dl a {
  text-decoration: underline;
  color: rgb(209, 232, 226);
}

.resume-dl a:hover {
  color: rgba(17, 100, 102,1);
}

.resume-proficiencies {
  column-count: 4;
}