.flex{
    display: flex;
    justify-content: space-between;
}

.h2{
    font-size: 3rem;
    text-decoration: underline;
}

.About {
    padding: 2rem;
    font-size: 1.5rem;
    width: 55%;
}

.About {
    color: yellow;
    text-shadow: 0 0 3px var(--diamond-border), 0 0 5px var(--diamond-color);
}
.home {
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.profile {
    margin: 4em 0;
}

.profile-pic img {
    width: 300px;
    height: 300px;
    border: 2px solid;
    border-radius: 75%;
}

