.about {
    margin-top: 15rem;
}

.about-description {
    color: var(--text-color);
    text-shadow: var(--text-shadow), var(--text-shadow-highlight);
    background-image: linear-gradient(rgba(16, 9, 25,.8), rgba(28, 17, 51,.8));
    border-radius: 3rem;
    padding: 2rem;
    width: 55%;
    height: fit-content;
}

.profile {
    background-size: cover;
    background-attachment: fixed;
    margin-left: 10rem;
}

.profile-pic img {
    width: 35rem;
    height: 35rem;
    border: 2px solid;
    border-radius: 75%;
}

