

.About {
    padding: 2rem;
    font-size: 1.5rem;
    width: 55%;
}

.About {
    color: var(--text-color);
    text-shadow: var(--text-shadow), var(--text-shadow-highlight);
    background-image: linear-gradient(rgba(16, 9, 25,.8), rgba(28, 17, 51,.8));
    border-radius: 3rem;
    
}
.home {
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.profile {
    margin: 4em 0;
}

.profile-pic img {
    width: 300px;
    height: 300px;
    border: 2px solid;
    border-radius: 75%;
}

