@keyframes dHover {
    0% { opacity: .9;}
    10% { opacity: 0.8;}
    20% { opacity: 0.6;}
    30% { opacity: 0.4;}
    40% { opacity: 0.2}
    50% { opacity: 0.4;}
    60% { opacity: 0.2;}
    70% { opacity: 0.4;}
    80% { opacity: 0.6;}
    90% { opacity: 0.8;}
    100% { opacity: .9;}
}

@keyframes dBHover {
    0% { opacity: .9;}
    25% { opacity: .75}
    50% { opacity: .6;}
    75% { opacity: .75}
    100% { opacity: .9;}
}

.header-style {
    padding: .5rem 2rem;
    display: flex;
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 9000;
}



.diamond-border {
    width: 0;
    height: 0;
    border: 5.5rem solid transparent;
    border-bottom: 7.5rem solid var(--diamond-color);
    position: relative;
    top: 1rem;
    overflow: visible;
    animation: dBHover 2s infinite;

}

.diamond-border:after { 
    content: ''; 
    position: absolute; 
    left: -5.5rem; top: 7.5rem; 
    width: 0;  
    height: 0; 
    border: 5.5rem solid transparent; 
    border-top: 7.5rem solid var(--diamond-border); 
    animation: dBHover 2s infinite;

}
  

.diamond {
    width: 0;
    height: 0;
    border: 5.5rem solid transparent;
    border-bottom: 7.5rem solid var(--diamond-border);
    position: absolute;
    top:1.5rem;
    right: 2rem;
    z-index: 20;
    display: flex;
    opacity: .7;
    transform: rotateY(50deg);
    animation: dBHover 2s infinite;

}


.diamond:after { 
  content: ''; 
  position: absolute; 
  left: -5.5rem; top: 7.5rem; 
  width: 0;  
  height: 0; 
  border: 5.5rem solid transparent; 
  border-top: 7.5rem solid var(--diamond-color); 
  z-index:20;
  animation: dBHover 2s infinite;

}

.diamond:hover {
    border-bottom:  7.5rem solid white;
    animation: dHover 5s infinite;
    cursor: pointer;
}

.diamond:hover:after{
    border-top: 7.5rem solid white;
    animation: dHover 5s infinite;
}

