.footer {
    display: flex;
    pointer-events: none;
    position: absolute;
    justify-content: center;
    right: 2%;
    opacity: 0;
    transition: .92s;
    transform: translateY(-300em);
}

.footer-open{ 
    opacity: 1;
    pointer-events: all;
    transform: translate(0,0);
}

.contact {
    display:flex;
    justify-content: space-evenly;
}

.contact ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-indent: 10px;
}

.contact img {
    width: 1.5em;
    height: 1.5em;
}

.contact img:hover {
    width: 2em;
    height: 2em;
}

